@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility text-gradient {
  @apply bg-linear-to-b from-white to-cyan-400 bg-clip-text text-transparent;
}

@utility card-shadow {
  box-shadow: 0px 4px 40px 0px #00000066;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply outline-neutral-400;
  }

  p {
    @apply text-gray-300;
  }

  input {
    @apply focus:outline-1;
  }
}

@layer components {
  .event-detail {
    @apply mt-10;

    .header {
      @apply lg:w-2/3;

      h1 {
        @apply mb-4 text-gradient via-white text-4xl font-bold;
      }
    }

    .detail {
      @apply mt-8 grid grid-cols-1 lg:grid-cols-3 gap-8;

      .content {
        @apply col-span-2 space-y-4;

        .banner {
          @apply w-full aspect-[2] object-cover rounded-lg;
        }

        h2 {
          @apply my-2 text-lg font-bold;
        }
      }

      .booking-form {
        @apply sticky top-24 ml-auto w-full max-w-sm py-6 px-4 h-fit bg-neutral-900 rounded-lg card-shadow border border-neutral-800;

        h2 {
          @apply mb-4 text-xl font-bold;
        }
      }
    }

    .similar-event {
      @apply mt-10 mb-16;

      h2 {
        @apply mb-4 text-2xl font-bold;
      }

      .event-lists {
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6;
      }
    }
  }
}
